@model BikeForSell.Application.ViewModels.BikeVm.BikeForEditVm

@{
    ViewData["Title"] = "Nowe Ogłoszenie";
}

<style>
    .chckbox-delivery {
        font-size: 20px;
        padding-top: 5px;
    }
</style>

<div class="text-end">
    <a asp-controller="Bike" asp-action="YourBikes" class="btn btn-lg btn-dark">Wróć</a>
</div>

<h1 class="text-center mb-4">Edytuj Ogłoszenie</h1>

<div class="row justify-content-center">
    <div>
        <form asp-action="Edit" method="post">
            <div class="row p-3 shadow rounded mb-4">
                <h3 class="text-center">Ogólne</h3>
                <hr />
                <div class="col-lg-4">
                    <input asp-for="@Model.Name" class="form-control" placeholder="Nazwa" />
                </div>
                <div class="col-lg-4">
                    <input asp-for="@Model.DetailInformation.Prize" type="number" class="form-control" placeholder="Cena" />
                </div>
                <div class="col-lg-4">
                    <select asp-for="@Model.Type" class="form-control form-control-lg">
                        <option>XC</option>
                        <option>Trail</option>
                        <option>Enduro</option>
                        <option>DownHill</option>
                        <option>Szosowy</option>
                        <option>Gravel</option>
                        <option>Fitness</option>
                        <option>Przełaj</option>
                        <option>Triathlon</option>
                        <option>Trekking</option>
                        <option>Cross</option>
                        <option>Miejski</option>
                        <option>FatBike</option>
                        <option>BMX</option>
                        <option>Dirt/Street</option>
                        <option>Trial</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input asp-for="@Model.Size" class="form-control" placeholder="Rozmiar" />
                </div>
                <div class="col-lg-4">
                    <input asp-for="@Model.DetailInformation.City" class="form-control" placeholder="Miasto" />
                </div>
                <div class="col-lg-4 chckbox-delivery text-center">
                    Wysyłka: <input type="checkbox" asp-for="@Model.DetailInformation.Delivery" />
                </div>

                <h4 class="text-center mb-3">Opis</h4>
                <textarea class="form-control" style="resize: none;" asp-for="@Model.Description" rows="7" ></textarea>
                <input type="hidden" asp-for="@Model.DetailInformation.Bike" />
                <input type="hidden" asp-for="@Model.DetailInformation.Id" />
                <input type="hidden" asp-for="@Model.DetailInformation.BikeRef" />
                <input type="hidden" asp-for="@Model.DetailInformation.UserRef" />
                <input type="hidden" asp-for="@Model.DetailInformation.Date" />
                <input type="hidden" asp-for="@Model.IsActive" />                
                <input type="hidden" asp-for="@Model.IsBought" />
            </div>

            <div class="row p-3 shadow rounded mb-4">
                <h3 class="text-center">Rama</h3>
                <hr />
                <div class="col-lg-6 mb-2">
                    <select asp-for="@Model.Frame.Type" class="form-control">
                        <option>Karbonowa</option>
                        <option>Aluminiowa</option>
                        <option>Aluminiowao-Karbonowa</option>
                        <option>Stalowa</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Frame.Fork" class="form-control" placeholder="Widelec" />
                </div>
                <div class="col-lg-6 mb-2">
                    <select asp-for="@Model.Frame.ForkType" class="form-control">
                        <option>Karbonowy</option>
                        <option>Aluminiowy</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Frame.Stem" class="form-control" placeholder="Mostek" />
                </div>
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Frame.Handlebar" class="form-control" placeholder="Kierownica" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Frame.Saddle" class="form-control" placeholder="Siodełko" />
                </div>
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Frame.Seatpost" class="form-control" placeholder="Sztyca" />                
                </div>                
                <input type="hidden" asp-for="@Model.Frame.Bike" />
                <input type="hidden" asp-for="@Model.Frame.Id" />
                <input type="hidden" asp-for="@Model.Frame.BikeRef" />
            </div>

            <div class="row p-3 shadow rounded mb-4">
                <h3 class="text-center">Napęd</h3>
                <hr />
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Drive.RearDerailleur" class="form-control" placeholder="Przerzutka Tylna" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Drive.Cassette" class="form-control" placeholder="Kaseta/Wolnobieg" />
                </div>
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Drive.Chain" class="form-control" placeholder="Łańcuch" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Drive.FrontDerailleur" class="form-control" placeholder="Przerzutka Przednia" />
                </div>
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Drive.CrankSet" class="form-control" placeholder="Korba" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Drive.Shifter" class="form-control" placeholder="Manetki" />
                </div>
                <input type="hidden" asp-for="@Model.Drive.Bike" />
                <input type="hidden" asp-for="@Model.Drive.Id" />
                <input type="hidden" asp-for="@Model.Drive.BikeRef" />
            </div>

            <div class="row p-3 shadow rounded mb-4">
                <h3 class="text-center">Hamulce</h3>
                <hr />
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Brake.FrontBrake" class="form-control" placeholder="Hamulec Przedni" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Brake.RearBrake" class="form-control" placeholder="Hamulec Tylny" />
                </div>
                <div class="col-lg-6 mb-2">
                    <select asp-for="@Model.Brake.Type" class="form-control">
                        <option>Mechaniczne</option>
                        <option>Hydrauliczne</option>
                    </select>
                </div>
                <input type="hidden" asp-for="@Model.Brake.Bike" />
                <input type="hidden" asp-for="@Model.Brake.Id" />
                <input type="hidden" asp-for="@Model.Brake.BikeRef" />
            </div>

            <div class="row p-3 shadow rounded mb-4">
                <h3 class="text-center">Koła</h3>
                <hr />
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Wheel.Name" class="form-control" placeholder="Nazwa Kół" />
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.Wheel.Hub" class="form-control" placeholder="Piasty" />
                </div>
                <div class="col-lg-6 mb-2">
                    <input asp-for="@Model.Wheel.Tyres" class="form-control" placeholder="Opony" />
                </div>
                <div class="col-lg-6">
                    <input type="number" asp-for="@Model.Wheel.Size" class="form-control" placeholder="Rozmiar" />
                </div>
                <input type="hidden" asp-for="@Model.Wheel.Bike" />
                <input type="hidden" asp-for="@Model.Wheel.Id" />
                <input type="hidden" asp-for="@Model.Wheel.BikeRef" />
            </div>
            <input type="submit" value="Edytuj Ogłoszenie" class="btn btn-primary" />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
