@using BikeForSell.Domain.Enums;
@model BikeForSell.Application.ViewModels.ProfileVm.ListPurchaseForListVm;

@{
    ViewData["Title"] = "Zakupione";
}

<div class="row">
    <div class="col-lg-12 text-end">
        <a asp-action="Index" class="btn btn-lg btn-dark">Wróć</a>
    </div>
    <div class="col-lg-12">
        <h1 class="text-center">Twoje Zakupy</h1>
    </div>
    @if(Model.Sieze == 0)
    {
        <p class="display-6 text-center text-secondary">
            Niczego Jeszcze Nie Zakupiłeś...
        </p>

        <div class="mt-2 text-center">
            <a asp-controller="Bike" asp-action="Index" class="btn btn-lg btn-success">Przejdź Do Zakupów</a>
        </div>
    }
    else
    {
        @foreach (var item in Model.Purchases)
        {
            <div class="col-lg-12 d-flex justify-content-center">                
                <div class="col-lg-6 shadow mt-4 p-4 rounded">
                    @if (item.State == State.Wait)
                    {
                        ViewData["State"] = "Oczekuje...";
                        ViewData["Color"] = "text-secondary";                        
                    }
                    else
                    {
                        if (item.State == State.Sell)
                        {
                            ViewData["State"] = "Zatwierdzona";
                            ViewData["Color"] = "text-success";    
                        }
                        else
                        {
                            ViewData["State"] = "Odmowa";
                            ViewData["Color"] = "text-danger";
                        }
                        
                        <div class="text-end">
                            <a class="btn btn-lg btn-close" asp-action="DeletePurchase" asp-route-purchaseId="@item.Id"></a>
                        </div>
                    }

                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    <h5>@Html.DisplayFor(modelItem => item.Prize)zł</h5>
                    Zakupiono:
                    <b>
                        @Html.DisplayFor(modelItem => item.Date.Day) /
                        @Html.DisplayFor(modelItem => item.Date.Month) /
                        @Html.DisplayFor(modelItem => item.Date.Year)
                    </b>
                    <br />
                    Status Sprzedaży: <span class="fw-bold @ViewData["Color"]">@ViewData["State"]</span> 
                    <div class="text-end">
                        <a class="btn btn-primary" asp-controller="Bike" asp-action="DetailsForPurchase" asp-route-bikeId="@item.BikeRef">Szczegóły</a>
                    </div>
                </div>
            </div>
        }
    }   

</div>
   
